[Unit]
Description=do.you.know.7
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/do-you-know
ExecStart=/home/ubuntu/do-you-know/.venv/bin/python run.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
